@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /*Reseteo*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    margin: auto;
    padding: 0;
    height: 100%;
    padding-top: 77px;
    /* Altura del encabezado */

}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    /* Color del texto al posar el cursor */
}

@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row !important;
        /* Lista horizontal en dispositivos de escritorio */
    }
}

.section-below {
    transition: margin-top 0.3s ease;
    
}

.menu-open {
    margin-top: 220px;
    
}


/*Estilos de index*/

.fisher-island-luxury-rentals {
    display: grid;
    grid-template-columns: 20px auto auto 20px;
    grid-template-rows: 20px auto auto auto 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.titulo1 {
    grid-column: 2/4;
    grid-row: 2;
    justify-content: center;
    align-content: center;

}

h1,
h2 {
    font-size: xx-large;
}

.titulo2 {
    grid-area: titulo2;
    grid-column: 2/4;
    grid-row: 6;
    justify-content: center;
    align-content: center;
}

.imageninteractiva {
    grid-area: imageninteractiva;
    grid-column: 2/4;
    grid-row: 3/5;
    justify-content: center;
    align-content: center;
}

.fisher-island-experiences {
    background-color: #000;
    color: white;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
}

.titulo3 {
    padding: 10px;
    font-size: xx-large;
}

#fisherexperiences-paragraph1 {
    text-align: justify;
    font-size: large;
}


.help-form {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 20px auto auto 20px;
    row-gap: 20px;
    column-gap: 20px;

}

.titulo4 {
    grid-column: 2;
    grid-row: 2;
    font-size: x-large;
}

.help-form-paragraph1 {
    grid-column: 2;
    grid-row: 3;
    font-size: large;
    justify-self: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    text-align: center;
}

.item {
    text-align: center;
}

.central-image {
    text-align: center;
}

.icon {
    width: 24px;
    padding-top: 15px;
}

/*Estilos de List your property*/

.titulo1-listyourproperty {

    padding-top: 15px;

}

.form-listyourproperty {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: large;

}

.three-keys-section {
    background-color: #f3f1ef;
    padding: 40px 0;
}

footer {
    background-color: black;
    height: auto;
    border-top: 1px black solid;
    color: white;
    text-decoration: none;
    
}
.my-container {
    margin-left: 0;
    margin-right: 0;
  } 
  footer a {
    color: white;
    text-decoration: none;
}
  

.logo {
    width: 20%;
}

/* Estilos de Meet the team*/

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}