.titulo1-listyourproperty {
  @extend %padding-top;
}

.three-keys-section {
  @include background-color($color-secondary);
  @include padding($padding-2, 0);
}

.fisher-island-experiences {
  @include background-color($color-primary);
  color: $color-white;
  @include grid-gaps($spacing-1, $spacing-1);
  @include padding($padding-1);
}


.form-container {
  @extend %form-container;
}
  
form {
  @extend %form-grid;
  background-color: $background-form;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  max-width: $max-width-form;
}
  
label {
  display: block;
  margin-bottom: $margin-bottom;
  text-align: left; 
  padding-right: $padding-right-label;
}
  
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
  @extend %form-inputs;
}
  
textarea {
  @extend %textarea-span;
}
  
.form-group.text-center {
  @extend %textarea-span;
  @extend %text-center;
}
