/*Estilos de index*/

.titulo1 {
  grid-column: 2/4;
  grid-row: 2;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.fisher-island-luxury-rentals {
  display: grid;
  grid-template-columns: 20px auto auto 20px;
  grid-template-rows: 20px auto auto auto 20px;
  row-gap: 20px;
  column-gap: 20px;

  .imageninteractiva {
    grid-area: imageninteractiva;
    grid-column: 2/4;
    grid-row: 3/5;
    justify-content: center;
    align-content: center;

    .titulo2 {
      grid-area: titulo2;
      grid-column: 2/4;
      grid-row: 6;
      justify-content: center;
      align-content: center;
    }
  }
}

.fisher-island-experiences {
  background-color: #000;
  color: white;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px;

  .titulo3 {
    padding: 10px;
    font-size: xx-large;

    #fisherexperiences-paragraph1 {
      text-align: justify;
      font-size: large;
    }
  }
}

.help-form {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px auto auto 20px;
  row-gap: 20px;
  column-gap: 20px;
  .titulo4 {
    grid-column: 2;
    grid-row: 2;
    font-size: x-large;

  
  }
}

.help-form-paragraph1 {
  grid-column: 2;
  grid-row: 3;
  font-size: large;
  justify-self: center;
}

  /* Estilos para el contenedor del formulario */
  .form-index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    
  }

  /* Estilos para el formulario */
  form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="submit"] {
    grid-column: span 2; 
    justify-self: center; 
    padding: 10px;
    background-color: black;
    color: #fff;
    border: black;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    text-decoration: underline;
  }

   
   .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

 