#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo1-listyourproperty {

    padding-top: 15px;

}

.names-meettheteam {
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}