
%padding-top {
    padding-top: 15px;
  }
  
  
  %form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 30px;
  }
  
  
  %form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  %form-inputs {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  
  %textarea-span {
    grid-column: span 2;
  }
  
  
  %text-center {
    text-align: center;
  }
  