
$color-primary: #000;
$color-secondary: #f3f1ef;
$color-white: white;
$padding-top-1: 15px;
$padding-1: 20px;
$padding-2: 40px;
$spacing-1: 20px;
$margin-bottom: 5px;
$padding-right-label: 10px;
$background-form: #f9f9f9;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$max-width-form: 800px;
